{% extends "skeleton.html" %}

{% block content %}
<div>
    <a href="/subjects" class="waves-effect waves-light btn-small blue">
        <i class="material-icons left">arrow_back</i>
        {{ _('Subjects')}}
    </a>
    <form class="col s12" action="/addSubject" onsubmit="return checkAll()" method="post">
        <h4>{{ _('Add Subject') }}</h4>
        <div class="row">
            <div class="input-field col s6">
                <input autofocus id="name" name="name" type="text" maxlength="50" class="validate" onblur="return checkName()" placeholder={{ _('Name') }} >
                <label for="name">* {{ _('Name') }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                    <input id="abbreviation" name="abbreviation" type="text" maxlength="20" class="validate" required placeholder={{ _('Abbreviation')
                    }} >
                    <label for="abbreviation">* {{ _('Abbreviation') }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="year" name="year" type="number" min="1" max="4" class="validate" required placeholder={{ _('Course')
                }} >
                <label for="year">* {{ _('Course') }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="quarter" name="quarter" type="number" min="1" max="2" class="validate" required
                       placeholder={{ _('Quarter') }}>
                <label for="quarter">* {{ _('Quarter') }}</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light green" type="submit" name="action">
                {{ _('Send')}}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}

{% block notifications %}
<script>
    setTimeout(function () {
        $('#Message').fadeOut('fast');
    }, 5000);
</script>

<script>
    function checkName()
    {
        var name = document.getElementById('name').value;

        if (name.length < 4) {
            M.toast({html: "{{ _('Name is too sort') }}", classes: 'red' })
            return false;
        }

        return true;
    }

    function checkAbbreviation()
    {
        const allowedChars = "abcdefghijklmnopqrstuvwxyz";
        let toret = true;
        let abbreviation = document
                            .getElementById('abbreviation')
                                .value.toLowerCase();

        if (abbreviation.length < 2) {
            M.toast({html: "{{ _('Abbreviation is too sort') }}", classes: 'red' })
            toret = false;
        } else {
            for(let i = 0; i < abbreviation.length; ++i) {
                if ( allowedChars.indexOf( abbreviation[ i ] ) < 0 ) {
                    toret = false;
                    M.toast({html: "{{ _('Abbreviation invalid: only letters are allowed') }}", classes: 'red' })
                    break;
                }
            }
        }

        return toret;
    }

    function checkAll() {
        return checkName() && checkAbbreviation();
    }
</script>
{% endblock%}
