{% extends "skeleton.html" %}

{% block content %}
<div>
    <a href="/softwares" class="waves-effect waves-light btn-small blue">
        <i class="material-icons left">arrow_back</i>
        {{ _('Software')}}
    </a>
    <form class="col s12" action="/addSoftware" onsubmit="return checkNotes() " method="POST">
        <h4 class="center">{{ _('Add Software') }}</h4>
        <div class="row">
            <div class="input-field col s6">
                <input id="name" name="name" type="text" maxlength="50" class="validate" required placeholder={{ _('Name')
                }} >
                <label for="name">* {{ _('Name') }}</label>
            </div>
            <div class="input-field col s6">
                <select name="root" required>
                    <option value="1">{{ _('Yes') }}</option>
                    <option value="0" selected>{{ _('No') }}</option>
                </select>
                <label>* {{ _('Needs root privileges?') }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="url" name="url" type="text" min="1" max="4" class="validate" required
                       placeholder={{ _('URL')
                }} >
                <label for="url">* {{ _('URL') }}</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="notes" name="notes" class="materialize-textarea" oninput="checkNote() "></textarea>
                <label for="notes">{{ _('Instalation Notes') }}</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light green" type="submit" name="action">
                {{ _('Send')}}
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}

{% block notifications %}
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script>
    function getByteCount(s) {
        var count = 0, stringLength = s.length, i;
        s = String(s || "");
        for (i = 0; i < stringLength; i++) {
            var partCount = encodeURI(s[i]).split("%").length;
            count += partCount == 1 ? 1 : partCount - 1;
        }
        return count;
    }
</script>
<script>
     function checkNotes(){
        if(getByteCount(document.getElementById("notes").value) > 1500){
            return false;
        }
    }
    var flag = 1;
    function checkNote(){
        if(getByteCount(document.getElementById("notes").value) > 1500) {
            document.getElementById("notes").style.color = "#ff0000"
            if (flag) {
                flag = 0;
                M.toast({html: "{{ _('Instalation Notes are too long') }}", classes: 'red'})
            }
        }
        else{
            document.getElementById("notes").style.color = "#000000";
            flag = 1;
        }
    }
</script>


{% endblock%}