{% extends "skeleton.html" %}

{% block content %}
<div>
    <h3 class="center">{{ _('Requests') }}</h3>
    <div class="fixed-action-btn requests" >
        <a class="btn-floating btn-large tooltipped green too modal-trigger" data-position="left"
           href="/addRequest" data-tooltip='{{ _('Add Request') }}'
        {% if not is_admin %}
            disabled
        {% endif %} >
        <i class="large material-icons">add</i>
        </a>
    </div>
    {% if requests.__len__() > 0 %}
    <div class="col s4">
        <input class="fuzzy-search" placeholder={{ _('Search') }} />
    </div>
    <div class="col s2 right-align " style="padding-top: 1%">
        {{ _('Sort by') }}
    </div>

    <div class="col s1 center">
        <button class="sort btn-small" data-sort="date">{{ _('date')}}</button>
    </div>
    <div class="col s2 center ">
        <button class="sort btn-small" data-sort="user">{{ _('user')}}</button>
    </div>
     <div class="col s2">
        <button class="sort btn-small" data-sort="subject">{{ _('subject')}}</button>
    </div>
    {% if is_admin %}
        <div class="col s1">
            <a class='dropdown-button btn-small' href='#' data-target='dropdown1'>
                <i class="material-icons">file_download</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content '
            data-tooltip='{{ _('Export to') }}'>
                <li><a href="/exportCSV">
                    <i class="material-icons">insert_drive_file</i>CSV</a></li>
                <li><a href="/exportXML"><i class="material-icons">insert_drive_file</i>XML</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <table class="striped">
        <thead>
        <th> {{ _('Subject') }}</th>
        <th> {{ _('User') }}</th>
        <th> {{ _('Date') }}</th>
        </thead>
        {% for request in requests %}
        <tr>
            <td class="subject"> {{ request.getSubject().name }}</td>
            <td class="user"> {{ request.getUser().name}}</td>
            <td class="date"> {{ request.date }}</td>
            <td>
                <a href="/viewRequest?key={{request.key.id()}}" class="waves-effect tooltipped waves-light btn-small
                 blue" data-position="left" data-tooltip='{{ _('View') }}'>
                    <i class="material-icons ">remove_red_eye</i>
                </a>
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light tooltipped btn-small red modal-trigger" href="#delete{{request.key.id()}}"
                {% if not is_admin  %}
                    disabled
                {% endif %} data-position="right" data-tooltip='{{ _('Delete') }}'>
                    <i class="material-icons ">delete</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% for request in requests %}
    <!-- Modal Structure -->
        <div id="delete{{request.key.id()}}" class="modal">
            <div class="modal-content">
                <h4 class="center">{{ _('Delete Request') }}</h4>
                <p class="big center">{{ _('Are you sure to delete this Request?') }}</p>
            </div>
            <div class="modal-content"></div>
            <div class="modal-footer">
                <a href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat">
                    {{ _('No') }}
                </a>
                <a href="/deleteRequest?key={{request.key.id()}}"
                   class="modal-action modal-close waves-effect waves-green btn-flat">
                    {{ _('Yes') }}
                </a>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <p> {{ _('Nothing to show') }}</p>
    {% endif %}
</div>

{% endblock %}

{% block notifications %}

<script>
    var height = screen.height;
    var pages;
    if(height > 768 ){
        pages = 8;
    }
    else{
        pages = 4;
    }
    var options = {
        valueNames: [ 'subject', 'user', 'date' ],
        page: pages,
        pagination: true
    };

    var requests = new List('requests', options);
</script>
<script>
    setTimeout(function () {
        $('#Message').fadeOut('fast');
    }, 5000);
</script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    $('.modal').open

</script>
<script>
    $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: true,
            hover: false,
            gutter: 0,
            belowOrigin: false
        }
    );

    $('.dropdown-button').dropdown({constrainWidth: false});
</script>

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>


{% endblock%}