{% extends "skeleton.html" %}

{% block content %}
    <h3 class="center no-pad-top">{{ _('Software') }}</h3>
    <div class="col s12" id="softwares">
        {% if softwares.count() > 0 %}
        <div class="col s4">
            <input class="fuzzy-search" placeholder={{ _('Search') }} />
        </div>
        <div class="col s2 right-align" style="padding-top: 1%">
            {{ _('Sort by') }}
        </div>
        <div class="col s2">
            <button class="sort btn-small" data-sort="name">{{ _('Name')}}</button>
        </div>
        <div class="col s3">
            <button class="sort btn-small" data-sort="root">{{ _('needs_root')}}</button>
        </div>
        <table  class="highlight">
            <thead >
            <th class="center"> {{ _('Name') }}</th>
            <th class="center"> {{ _('Needs_Root') }}</th>
            <th class="center"> {{ _('URL') }}</th>
            <th class="center"> {{ _('Options') }}</th>
            </thead>
            <tbody class="list">
            {% for software in softwares %}
                <tr>
                    <td class="name center"> {{ software.name }}</td>
                    <td class="root center">
                        {% if software.needs_root %}
                            {{ _('Yes') }}
                        {% else %}
                            {{ _('No') }}
                        {% endif%}
                    </td>
                    <td class="center url">
                        <a class="tooltipped too modal-trigger" data-position="bottom"
                           data-tooltip='{{ software.url }}'
                           target="_blank"
                           href="{{ software.url }}">
                        {{ software.url[:20] }}
                        </a>
                    </td>
                    <td class="center">
                        <a href="/viewSoftware?key={{software.key.id()}}" class="waves-effect tooltipped waves-light
                        btn-small blue" data-position="left" data-tooltip='{{ _('View') }}'>
                            <i class="material-icons ">remove_red_eye</i>
                        </a>
                        <a href="/editSoftware?key={{software.key.id()}}" class="waves-effect tooltipped waves-light
                        btn-small yellow" data-position="center" data-tooltip='{{ _('Edit') }}'>
                            <i class="material-icons ">edit</i>
                        </a>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light tooltipped btn-small red modal-trigger"
                           href="#delete{{software.key.id()}}" data-position="right" data-tooltip='{{ _('Delete') }}'>
                            <i class="material-icons ">delete</i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for software in softwares %}
        <!-- Modal Structure -->
            <div id="delete{{software.key.id()}}" class="modal">
                <div class="modal-content">
                    <h4 class="center">{{ _('Delete Software') }}</h4>
                    <p class="big center">{{ _('Are you sure to delete') }} : <b>{{ software.name }}</b> ? </p>
                </div>
                <div class="modal-footer">
                    <a href="#!"
                       class="modal-action modal-close waves-effect waves-green btn-flat">
                        {{ _('No') }}
                    </a>
                    <a href="/deleteSoftware?key={{software.key.id()}}"
                       class="modal-action modal-close waves-effect waves-green btn-flat">
                        {{ _('Yes') }}
                    </a>
                </div>
            </div>
        {% endfor %}
        <p class="pagination" ></p>
        {% else %}
        <p> {{ _('Nothing to show') }}</p>
        {% endif %}
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large tooltipped green too modal-trigger" data-position="left"
           href="/addSoftware" data-tooltip='{{ _('Add Software') }}'>
        <i class="large material-icons">add</i>
        </a>
    </div>


{% endblock %}

{% block notifications %}

<script>
    var height = screen.height;
    var pages;
    if(height > 768 ){
        pages = 8;
    }
    else{
        pages = 4;
    }
    var options = {
        valueNames: [ 'name', 'root', 'url' ],
        page: pages,
        pagination: true
    };

    var softwares = new List('softwares', options);

    softwares.on("updated", function (){ $('.tooltipped').tooltip(); })

    $('.tooltipped').tooltip();
</script>
<script>
    setTimeout(function () {
        $('#Message').fadeOut('fast');
    }, 5000);
</script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    $('.modal').open

</script>


<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>

{% endblock%}