{% extends "skeleton.html" %}

{% block content %}
    <h3 class="center no-pad-top">{{ _('Subjects') }}</h3>
    <div class="col s12" id="subjects">
        {% if subjects.count() > 0 %}
        <div class="col s4">
            <input class="fuzzy-search" placeholder={{ _('Search') }} />
        </div>
        <div class="col s2 right-align" style="padding-top: 1%">
            {{ _('Sort by') }}
        </div>

        <div class="col s1 ">
            <button class="sort btn-small" data-sort="name">{{ _('Name')}}</button>
        </div>
        <div class="col s2 center">
            <button class="sort btn-small" data-sort="year">{{ _('Course')}}</button>
        </div>
        <div class="col s2">
            <button class="sort btn-small" data-sort="quarter">{{ _('Quarter')}}</button>
        </div>
        <table  class="highlight">
            <thead>
            <th class="name center"> {{ _('Abbreviation') }}</th>
            <th class="name center"> {{ _('Name') }}</th>
            <th class="name center"> {{ _('Course') }}</th>
            <th class="name center"> {{ _('Quarter') }}</th>
            <th class="name center"> {{ _('Options') }}</th>
            </thead>
            <tbody class="list">
            {% for subject in subjects %}
                <tr>
                    {% include "subject_desc.html" %}
                    <td class="name center">
                        <a href="/editSubject?key={{subject.key.id()}}" data-position="top" class="waves-effect tooltipped waves-light btn-small yellow "
                        {% if not current_user %}
                            disabled
                        {% endif %} data-tooltip='{{ _('Edit') }}'>
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="/viewSubject?key={{subject.key.id()}}" data-position="top" class="waves-effect tooltipped waves-light btn-small blue"
                        data-tooltip='{{ _('View') }}'>
                            <i class="material-icons ">remove_red_eye</i>
                        </a>
                        <!-- Modal Trigger -->

                        <a class="waves-effect waves-light btn-small tooltipped red modal-trigger" data-position="top" href="#delete{{subject.key.id()}}"
                        {% if current_user.key != subject.user_key and not current_user.is_admin %}
                            disabled
                        {% endif %} data-tooltip='{{ _('Delete') }}' >
                            <i class="material-icons ">delete</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for subject in subjects %}
            <!-- Modal Structure -->
            <div id="delete{{subject.key.id()}}" class="modal">
                <div class="modal-content">
                    <h4 class="center">{{ _('Delete Subject') }}</h4>
                    <p class="big center">{{ _('Are you sure to delete') }} : <b>{{ subject.name }}</b> ? </p>
                    <p class="big center red-text">{{ _('All Requests of this Subject will be deleted!!') }}</p>
                </div>
                <div class="modal-footer">
                    <a href="#!"
                       class="modal-action modal-close waves-effect waves-green btn-flat">
                        {{ _('No') }}
                    </a>
                    <a href="/deleteSubject?key={{subject.key.id()}}"
                       class="modal-action modal-close waves-effect waves-green btn-flat"
                      {% if not current_user.is_admin and subject.user_key != current_user.key %}
                            disabled
                      {% endif %}
                    >
                        {{ _('Yes') }}
                    </a>
                </div>
            </div>

        {% endfor%}

        <p class="pagination" ></p>
        {% else %}
        <p> {{ _('Nothing to show') }}</p>
        {% endif %}
    </div>
    <div style="text-align: right">
        <a class="btn-floating btn-large tooltipped green too modal-trigger" data-position="left"
           href="/addSubject" data-tooltip='{{ _('Add Subject') }}'>
        <i class="large material-icons">add</i>
        </a>
    </div>


{% endblock %}

{% block notifications %}

<script>
    var height = screen.height;
    var pages;
    if(height > 768 ){
        pages = 8;
    }
    else{
        pages = 4;
    }
    var options = {
        valueNames: [ 'name', 'year', 'quarter' ],
        page: pages,
        pagination: true
    };

    var subjects = new List('subjects', options);

    subjects.on("updated", function (){ $('.tooltipped').tooltip(); })
</script>
<script>
    setTimeout(function () {
        $('#Message').fadeOut('fast');
    }, 5000);
</script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
    $('.modal').open

</script>
<script>
    $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: true,
            hover: false,
            gutter: 0,
            belowOrigin: false
        }
    );

    $('.dropdown-button').dropdown({constrainWidth: false});
</script>

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>

{% endblock%}