{% extends "skeleton.html" %}

{% block content %}
    <div class="col s12">
        <div class="col s4">
            <a href="/subjects" class="waves-effect waves-light btn-small blue">
                <i class="material-icons left">arrow_back</i>
                {{ _('Subjects')}}
            </a>
        </div>
        <div class="col s8">
            <h2>{{ _('View Subject') }}</h2>
        </div>
    </div>
    <div class="col s12">
        <table class="centered">
            <tr class="centered">
                <td><b>{{ _('Abbreviation') }}</b></td>
                <td><b>{{ _('Name') }}</b></td>
                <td><b>{{ _('Course') }}</b></td>
                <td><b>{{ _('Quarter') }}</b></td>
                <td><b>{{ _('Created by') }}</b></td>
            </tr>
            <tr class="centered">
                {% include "subject_desc.html" %}
                <td class="name center">{{ subject_owner.name }}</td>
            </tr>
        </table>
    </div>

    <div class="col s12"><p></p></div>

    <div class="col s12">
        <h4 class="center">{{ _('Softwares') }}</h4>
    </div>
    <div class="col s12">
        {% if softwares %}
        <table class="centered">
            <tr class="centered">
                <td><b>{{ _('Name') }}</b></td>
                <td><b>{{ _('Needs Root Permisions') }}</b></td>
                <td><b>{{ _('URL') }}</b></td>
            </tr>
            {% for software in softwares %}
             <tr class="centered">
                 {% include "software_desc.html" %}
                 <td>
                    <a href="/viewSoftware?key={{software.key.id()}}" class="waves-effect waves-light btn-small blue">
                        <i class="material-icons ">remove_red_eye</i>
                    </a>
                </td>
             </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="center" style="color: red">{{ _('Nothing to show')}}</p>
        {% endif %}
    </div>

{% endblock %}