{% extends "skeleton.html" %}

{% block content %}
    <div class="col s12">
        <div class="col s4">
            <a href="/requests" class="waves-effect waves-light btn-small blue">
                <i class="material-icons left">arrow_back</i>
                {{ _('Requests')}}
            </a>
        </div>
        <div class="col s8">
            <h2>{{ _('View Request') }}</h2>
        </div>
    </div>
    <div class="col s12">
        <table class="centered">
            <tr class="centered">
                <td><b>{{ _('Subject') }}</b></td>
                <td><b>{{ _('Date') }}</b></td>
                <td><b>{{ _('Created by') }}</b></td>
                <td><b>{{ _('Operative System') }}</b></td>
            </tr>
            <tr class="centered">
                <td sty><b>{{ request.getSubject().name }}</b></td>
                <td>{{ request.getDate() }}</td>
                <td>{{ request.getUser().name }}</td>
                <td>
                    {% if request.getSystem()|string() == "LINUX" %}
                        <img src="../static/fonts/linux.ico" width="40px" height="40px" class="tooltipped" data-tooltip="LINUX" />
                    {% elif request.getSystem()|string() == "WINDOWS" %}
                        <img src="../static/fonts/windows.png" width="40px" height="40px" class="tooltipped" data-tooltip="WINDOWS"/>
                    {% else %}
                        <img src="../static/fonts/linux.ico" width="40px" height="40px" class="tooltipped" data-tooltip="LINUX"/>
                        <img src="../static/fonts/windows.png" width="40px" height="40px" class="tooltipped" data-tooltip="WINDOWS"/>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="col s12">
        <h5 class="center"> {{ _('Softwares') }}</h5>
        <div class="col s12">
        {% if request.getSoftware() %}
        <table class="centered">
            <tr class="centered">
                <td><b>{{ _('Name') }}</b></td>
                <td><b>{{ _('URL') }}</b></td>
                <td><b>{{ _('Needs Root Permisions') }}</b></td>
            </tr>
            {% for soft in request.getSoftware() %}
            <tr class="centered">
                <td><b>{{ soft.name }}</b></td>
                <td>{{ soft.url }}</td>
                {% if soft.needs_root == 1 %}
                    <td>{{ _('Yes') }}</td>
                {% else %}
                    <td>{{ _('No') }}</td>
                {% endif %}
                <td>
                    <a href="/viewSoftware?key={{soft.key.id()}}" class="waves-effect waves-light btn-small blue">
                    <i class="material-icons ">remove_red_eye</i>
                </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="center" style="color: red">{{ _('Nothing to show')}}</p>
        {% endif %}
    </div>
    </div>

{% endblock %}
{% block notifications %}

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>

{% endblock%}