{% extends "skeleton.html" %}

{% block content %}
    <div class="col s12">
        <div class="col s4">
            <a href="/requests" class="waves-effect waves-light btn-small blue">
                <i class="material-icons left">arrow_back</i>
                {{ _('Requests')}}
            </a>
        </div>
        <div class="col s8">
            <h2>{{ _('View Request') }}</h2>
        </div>
    </div>
    <div class="col s12">
        <table class="centered">
            <tr class="centered">
                <td><b>{{ _('Subject') }}</b></td>
                <td><b>{{ _('Created by') }}</b></td>
                <td><b>{{ _('Date') }}</b></td>
                <td><b>{{ _('Operating System') }}</b></td>
            </tr>
            <tr class="centered">
                {% include "request_desc.html" %}

                <td>
                    {% if request.getSystem()|string() == "LINUX" %}
                        <img src="../static/res/linux.ico" width="40px" height="40px" class="tooltipped" data-tooltip="LINUX" />
                    {% elif request.getSystem()|string() == "WINDOWS" %}
                        <img src="../static/res/windows.png" width="40px" height="40px" class="tooltipped" data-tooltip="WINDOWS"/>
                    {% else %}
                        <img src="../static/res/linux.ico" width="40px" height="40px" class="tooltipped" data-tooltip="LINUX"/>
                        <img src="../static/res/windows.png" width="40px" height="40px" class="tooltipped" data-tooltip="WINDOWS"/>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="col s12">
        <h5 class="center"> {{ _('Softwares') }}</h5>
        <div class="col s12">
        {% if request.getSoftwares() %}
        <table class="centered">
            <tr class="centered">
                <td><b>{{ _('Name') }}</b></td>
                <td><b>{{ _('Needs Root Permisions') }}</b></td>
                <td><b>{{ _('URL') }}</b></td>
                <td><b>{{ _('Installation Notes') }}</b></td>
            </tr>
            {% for software in request.getSoftwares() %}
            <tr class="centered">
                {% include "software_desc.html" %}

                <td>
                    <i>{{ software.installation_notes }}</i>
                </td>

                <td>
                <a class="waves-effect waves-light tooltipped btn-small red modal-trigger" href="/deleteRequestPair?key={{ request.getPairsKeys()[loop.index - 1].id() }}"
                    data-position="right" data-tooltip="{{ _('Delete') }}"
                    {% if not current_user.is_admin and request.getUser().key != current_user.key %}
                        disabled
                    {% endif %}
                >
                    <i class="material-icons ">delete</i>
                </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="center" style="color: red">{{ _('Nothing to show')}}</p>
        {% endif %}
    </div>
    </div>

{% endblock %}
{% block notifications %}

<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>

{% endblock%}